/* Element Selectors */
html {
  font-family: sans-serif;
}

body {
  font: 14px, Arial, sans-serif;
  text-align: left;
  margin: 0px;
}

p {
  color: black;
  margin: 5px;
}

li {
  list-style-type: square;
  display: inline-block;
  text-align: center;
  list-style: inside;
}

ul {
  margin: auto;
  display: inline-block;
  text-align: center;
  list-style: inside;
}
/* Class Selectors */

.header {
  padding: 10px 20px;
  background: #0077b6;
  color: #f2f2f2;
}

.header h1 {
  font-size: 24px;
}

.footer {
  padding: 10px 20px;
  background: #0077b6;
  color: #f2f2f2;
}

.container {
  width: 100%;
  background: #90e0ef;
}

.parent {
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.child {
  float: left;
  background-color: #caf0f8;
  margin: 20px 20px;
  border: solid;
  border-color: black;
  border-radius: 10px;
}

img.child {
  height: 300px;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 0px;
}

.center {
  text-align: center;
}
