:root {
  --primary-color: #1abc9c;
  --secondary-color: #34495e;
  --tertiary-color: #f7f7f7;
  --text-color: #2c3e50;
  --text-color-light: #bdc3c7;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.section:first-of-type {
  margin-top: 20px;
}

.recipe-details {
  padding: 1.5rem;
  background-color: #f5f6ea;
  margin: 3rem;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
  color: var(--primary-color);
  flex-basis: 100%;
  text-transform: uppercase;
}

img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

ul,
ol {
  margin: 20px 0;
  padding: 0 20px;
  list-style: none;
  flex-basis: 100%;
}

li {
  margin: 10px 0;
  color: var(--text-color-light);
}

button {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
}
